.offer{
    background-image: url(../Images/offer.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    color: aliceblue;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}
.offer h1{
    font-size: 70px;
    font-weight: 900;


}
.title2 span{
    color: rgb(248, 40, 40);
}
.offer::before{
    position: absolute;
    content: "";
    background: -moz-radial-gradient(center, ellipse cover, rgba(181, 8, 8, 0.38) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(181, 8, 8, 0.38) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: radial-gradient(ellipse at center, rgba(181, 8, 8, 0.38) 0%, rgba(0, 0, 0, 0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61b50808', endColorstr='#99000000',GradientType=1 );
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;}
    @media screen and (max-width: 700px) {
.offer{
    font-size: 70%;
}
.title2{
    font-size: 70%;
    margin: 5px;
}



    }